language: csharp
solution: source/platform/platform.sln
mono:
  - latest
install:
  - travis_retry npm install
  - nuget restore source/platform/platform.sln
jobs:
  include:
    - stage: release
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - nvm install lts/*
          - npx semantic-release
