language: csharp
solution: source/platform/platform.sln
mono:
  - latest
install:
  - travis_retry npm install
  - nuget restore source/platform/platform.sln
jobs:
  include:
    - stage: release
      script:
        - nvm install lts/*
        - npx --max-old-space-size=2048 semantic-release
